@model IkapatigiCapstone.Models.UserLoginRequest

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<div class="card text-bg-success mb-3 mx-auto" style="max-width: 18rem;">
   <br /> 
    <h1 class="card-title text-center mb-1 fw-bold fs-1">Login</h1>
    <br />
    <div class="card-body">

        <div class="col d-flex justify-content-center">
            <form asp-controller="Account" asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" id="passIn"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <br />
                    Show <input type="checkbox" name="showBox" onclick="showPass(this)" />
                    <script>
                        function showPass(e)
                        {
                            txtBox = $('#passIn')
                            if(e.checked){
                                txtBox.attr("Type","Text");
                            }
                            else
                            {
                                txtBox.attr("Type","Password");
                            }
                        }
                    </script>
                </div>
                <div class="alert-danger">
                    @if(ViewData["LoginMessage"]!=null)
                    {
                        @ViewData["LoginMessage"]
                    }
                    @if(ViewData["LoginUpdate"]!=null)
                    {
                        @ViewData["LoginUpdate"]
                    }
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-light" id="loginbtn" />
                </div><hr/>
                <a asp-area="" asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a>
            </form>
        </div>
        
      @*  <button type="button" class="btn btn-primary">
            <a class="nav-link active" asp-area="" asp-controller="Account" asp-action="Register">Register Here </a>

        </button>
        *@

        @*<a class="btn btn-info" role="button" asp-area="" asp-controller="Account" asp-action="Register">Link Button</a>*@
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
