@model IkapatigiCapstone.Models.UserLoginRequest

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div class="titlecontainer">
    <div class="text-center">

        <h1 class="display-4">Login</h1>
    </div>
</div>
<br />

<hr />
<div class="bgtable">
    <div class="card-body">
        <div class="col-md-4">
            <form asp-controller="Account" asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="alert-danger">
                    @if(ViewData["LoginMessage"]!=null)
                    {
                        @ViewData["LoginMessage"]
                    }
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" id="loginbtn"/>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
