@model IkapatigiCapstone.Models.TokenInputModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="card text-bg-success mb-3 mx-auto" style="max-width: 18rem;">
    <br />
    <h1 class="card-title text-center mb-1 fw-bold fs-1">Reset Password</h1>
    <br />
    <div class="card-body">
         <div class="col d-flex justify-content-center">
             <form asp-action="">
                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 
                 <div class="form-group">
                     <label asp-for="EmailIn" class="control-label"></label>
                     <input asp-for="EmailIn" class="form-control" />
                     <span asp-validation-for="EmailIn" class="text-danger"></span>
                 </div>
                 
                 <div class="form-group">
                     <label asp-for="TokenIn" class="control-label"></label>
                     <input asp-for="TokenIn" class="form-control" />
                     <span asp-validation-for="TokenIn" class="text-danger"></span>
                 </div>

                 <div class="alert-danger">
                     @if(ViewData["ErrorMessage"]!=null)
                     {
                         @ViewData["ErrorMessage"]
                     }
                 </div>
                 <br />
                 <div class="form-group">
                     <input type="submit" value="Renew" class="btn btn-light" />
                 </div>
             </form>
         </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
