@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IkapatigiCapstone.Models.PostReplyViewCreateModel
<h1>Create Reply</h1>

<hr />
<div class="bgtable">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateReply">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                    <label asp-for="Content" class="control-label">Reply</label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <br />
        <a asp-action="Index" asp-controller="Forum">Back to Forum</a>
    </div>
</div>

<h2>Replies</h2>
<br/>
@*<div class="bgtable">
    <table>
        <tbody>
            @foreach(var item in Model.postReplies)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@

@{
}
