@model IEnumerable<IkapatigiCapstone.Models.PostImage>
@{
    ViewData["Title"] = "Post Image";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<br />
<div class="titlecontainer">
    <div class="text-center">
        <h1 class="display-4"></h1>
    </div>
</div>
<br />
<div class="bgtable">
    <div>
        <a asp-action="MemberIndex" asp-controller="Forum">Back to List</a>
    </div>
    <br/>
    <table id="records" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ImageName)
                </th>
                <th>@Html.DisplayNameFor(model => model.ImageText)</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/images/@item.ImageName" width="150" height="150">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageText)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
</div>
@{
}
