@model IkapatigiCapstone.Models.PostViewImageModel
@{
    ViewData["Title"] = "Post Image";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<br />
<div class="titlecontainer">
    <div class="text-center">
        <h1 class="display-4"></h1>
    </div>
</div>
<br />
<div class="bgtable">
    <div>
    <a asp-action="Index" asp-controller="Forum">Back to List</a>
    </div>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>
            <dd class="col-sm-2">
                <img src="~/images/@Model.ImageUrl" />
            </dd>
        </dl>
    </div>
</div>
@{
}
