
@{
    ViewData["Title"] = "AboutUs";
}
<br />
<div class="titlecontainer">
    <div class="text-center">

        <h1 class="display-4">About Us</h1>
        <h3>Giving gardeners hope to heal their sick plants.</h3>
        <p>
            Meet the team
        </p>

    </div>
   
</div>
<br />
<div class="text-center">
    <img src="~/BackgroundImages/Logo.png" alt="IkapaTigi Logo" width="206" height="200" />
</div>


<br />


<div class="outerTableAboutUs">
    <div class="innerTableAboutUs#1">
        <div class="JeanelleText">
            <h4>Jeanelle Pangilinan</h4>
            <br />
            <div class="JeanellePic">
                <img src="~/BackgroundImages/Jeanelle.png" />
            </div>
            <br />
            <h6>Researcher</h6>
            <br />
            <p>
                An enthusiastic IT cybersecurity practitioner and gardener. Eager to excel in the IT industry protecting people from cybersecurity threats and driven to promote and contribute to environmental sustainability.
            </p>
        </div>
    </div>

    <div class="innerTableAboutUs#2">
        <div class="GabbiText">
            <h4>Gabrielle Singh</h4>
            <br />
            <div class="GabbiPic">
                <img src="~/BackgroundImages/Gabbi.png" />
            </div>
            <br />
            <h6>Researcher</h6>
            <br />
            <p>
                A long-time gardener and an IS student aspiring to one day become a working IT practitioner. Hoping to mix interests and the lessons learned from taking BS-IS to make a difference, so that  fellow gardeners have an easier time caring for plants and to encourage people with so-called black thumbs that every gardener has killed a plant before.
            </p>
        </div>
    </div>

    <div class="innerTableAboutUs#3">
        <div class="MicoText">
            <h4>Miguel Ureta</h4>
            <br />
            <div class="MicoPic">
                <img src="~/BackgroundImages/Mico.png" />
            </div>
            <br />
            <h6>Researcher</h6>
            <br />
            <p>
                Miguel Ureta is the teams' System Analyst and backend programmer. His experience in gardening consists of following an early morning routine of tending to a few fruit-bearing plants at his backyard.
            </p>
        </div>
    </div>
</div>
