@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="titlecontainer-home">
    <div class="text-center">
        <h1 class="display-4">Home</h1>
    </div>
</div>
<br />

<div class="homeoptions">

    <div class="containerleftdiagnose">
        <div class="textcontainerleftdiagnose">
            <a class="nav-link active" asp-area="" asp-controller="Diagnostic" asp-action="NonMemberIndex"><h1>Diagnose</h1></a>
            <br />
            <p>An advanced search engine to find </p>
            <p>what sickness your plant is suffering from.</p>
        </div>
        <div class="diagnoseicon">
            <img src="~/BackgroundImages/diagnosepc.png" />
        </div>
    </div>

    <div class="containerrighthowto">
        <div class="textcontainerrighthowto">
            <a class="nav-link active" asp-area="" asp-controller="HowTo" asp-action="NonMemberIndex"><h1>How To's</h1></a>
            <br />
            <p>A comprehensive guide to caring for plants for those</p>
            <p> just starting out and more.</p>
        </div>

        <div class="howtoicon">
            <img src="~/BackgroundImages/Image 8@1x.png" />
        </div>

    </div>

    <!--end of options-->

    <div class="containerbottomaboutus">
        <div class="textcontainerbottomaboutus">
            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="AboutUs"><h1>About Us</h1></a>
            <br />
            <p>Meet the team, our brand and contact us if need be.</p>
        </div>

        <div class="aboutusicon">
            <img src="~/BackgroundImages/Image 7@1x.png" />
        </div>
    </div>
    <hr />
</div>

@*<!-- Slideshow 4 -- 2ND TRY-->
<div>
< class="slider">
    < class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <div class="slider-img">
                    <div class="container">
                        <div class="slider-info">
                            <div class="containerforhomeslider">
                                <div>
                                    <h1>Diagnose</h1>
                                    <br />
                                    <p>An advanced search engine to find </p>
                                    <p>what sickness your plant is suffering from.</p>
                                </div>
                                <div class="diagnoseicon">
                                    <img src="~/BackgroundImages/diagnosepc.png" />
                                </div>
                            </div>
                        </div>
                        <!--<div class="diagnoseicon">
                            <img src="~/BackgroundImages/diagnosepc.png" />
                        </div>-->
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-img">
                    <div class="container">
                        <div class="slider-info">
                            <div class="containerforhomeslider">
                                <div>
                                    <h1>How To's</h1>
                                    <br />
                                    <p>A comprehensive guide to caring for plants for those</p>
                                    <p> just starting out and more.</p>
                                </div>
                                <div class="howtoicon">
                                    <img src="~/BackgroundImages/Image 8@1x.png" />
                                </div>
                            </div>
                        </div>
                        <!--<div class="howtoicon">
                            <img src="~/BackgroundImages/Image 8@1x.png" />
                         </div>-->
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-img">
                    <div class="container">
                        <div class="slider-info">
                                <div class="containerforhomeslider">
                                    <h1>About Us</h1>
                                    <br />
                                    <p>Meet the team, our brand and contact us if need be.</p>
                                </div>

                                <div class="aboutusicon">
                                    <img src="~/BackgroundImages/Image 7@1x.png" />
                                </div>
                        </div>
                    </div>
                        <!--<div class="aboutusicon">
                            <img src="~/backgroundimages/forum.png" />
                        </div>-->
                </div>
                
            </li>
        </ul>
    
    <div class="clearfix"> </div>
</div>
</div>

<!-- Slideshow 4 -- 3RD TRY-->
<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <div class="slider-img">
                    <div class="container">
                        <div class="slider-info">
                            <h4>We Crop Healthy Food </h4>
                            <p>Quis autem vel eum iure reprehderit. magnis dis parturient montes,consectetuer iure reprehderit. </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-img ">
                    <div class="container">
                        <div class="slider-info">
                            <h4>Real And Natural Food </h4>
                            <p>Quis autem vel eum iure reprehderit. magnis dis parturient montes,consectetuer iure reprehderit. </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="slider-img">
                    <div class="container">
                        <div class="slider-info">
                            <h4>Good And Healthy Food</h4>
                            <p>Quis autem vel eum iure reprehderit. magnis dis parturient montes,consectetuer iure reprehderit. </p>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>

*@