@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<br />

<div class="titlecontainer-home">
    <div class="text-center">
        <h1 class="display-4">Home</h1>
    </div>
</div>
<br />
<div class="homeoptions">

    <div class="containerleftdiagnose">
        <div class="textcontainerleftdiagnose">
            <a class="nav-link active" asp-area="" asp-controller="Diagnostic" asp-action="Index"><h1>Diagnose</h1></a>
            <br />
            <p>An advanced search engine to find </p>
            <p>what sickness your plant is suffering from.</p>
        </div>

        <div class="diagnoseicon">
            <img src="~/BackgroundImages/diagnosepc.png" />
        </div>
    </div>



    <div class="containerrighthowto">
        <div class="textcontainerrighthowto">
            <a class="nav-link active" asp-area="" asp-controller="HowTo" asp-action="Index"><h1>How To's</h1></a>
            <br />
            <p>A comprehensive guide to caring for plants for those</p>
            <p> just starting out and more.</p>
        </div>

        <div class="howtoicon">
            <img src="~/BackgroundImages/Image 8@1x.png" />
        </div>

    </div>

    <div class="containerbottomaboutus">
        <div class="textcontainerbottomaboutus">
            <a class="nav-link active" asp-area="" asp-controller="Forum" asp-action="Index"><h1>Forum</h1></a>
            <br />
            <p>Get to know the community and socialize.</p>
        </div>

        <div class="aboutusicon">
            <img src="~/BackgroundImages/forum.png" />

        </div>
    </div>
</div>

@{
}
