@model IkapatigiCapstone.Models.Diagnostic

@{
    ViewData["Title"] = "Edit";
}

<br />
<div class="titlecontainer">
    <div class="text-center">

        <h1 class="display-4">Edit Diagnostic</h1>
    </div>
</div>
<br />
<hr />

<div class="bgtable">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DiagnosticsId" />
              @*  <div class="form-group">
                    <label asp-for="PictureCollectionFromId" class="control-label"></label>
                    <input asp-for="PictureCollectionFromId" class="form-control" />
                    <span asp-validation-for="PictureCollectionFromId" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="CureId" class="control-label"></label>
                    <select asp-for="CureId" class="form-control" asp-items="ViewBag.CureId"></select>
                    <span asp-validation-for="CureId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StatusId" class="control-label"></label>
                    <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                    <span asp-validation-for="StatusId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TagId" class="control-label"></label>
                    <select asp-for="TagId" class="form-control" asp-items="ViewBag.TagId"></select>
                    <span asp-validation-for="TagId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlantDiseaseId" class="control-label"></label>
                    <select asp-for="PlantDiseaseId" class="form-control" asp-items="ViewBag.PlantDiseaseId"></select>
                    <span asp-validation-for="PlantDiseaseId" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
